{% extends 'base.html.twig' %}

{% block title %}Create Tournament{% endblock %}

{% block body %}
    <div id="app" class="min-h-screen bg-gray-50 flex items-center justify-center">
        <tournament-form></tournament-form>
    </div>

    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}